RewriteEngine On

RewriteCond %{REQUEST_URI} !^/test
RewriteRule .? /test/ [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (part.+(end|start)) /test/$1/index.php